<%= form_with(model: @podcast) do |form| %>
  <% if @podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
        <% @podcast.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :podcast_id %>
    <%= form.text_field :podcast_id, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Save Podcast', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', admins_podcasts_path, class: 'btn btn-secondary' %>
