 <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @podcast.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @podcast.description %>
</p>

<p>
  <strong>Podcast ID:</strong>
  <%= @podcast.podcast_id %>
</p>

   <iframe src="https://open.spotify.com/embed/podcast/<%= @podcast.podcast_id %>"></iframe>
 
<%= link_to 'Edit', edit_admins_podcast_path(@podcast) %> |
<%= link_to 'Back', admins_podcast_path %>
